
.row {
    display: flex;
  flex-direction: row;
}
.logoimg {
    width: 206px;
    height: 200px;
   
}
.title-a a {
    font-size: 12px;
    color: #404040;
    padding: 0 5px;
}
a {
    text-decoration: none !important;
    color: black !important;
}
a:hover {
    color: red;
}
h1 {
    font-size: 22px;
}
.title {
    margin-top: 30px;
}
.title-h1 span {
    background: #8cb400;
    color: white;
    font-weight: 100;
    font-size: 17px;
}
.title-h1 span::after {
    content: "";
    position: absolute;
    top: 58px;
    left: 1130,5px;
    border-top: 10.5px solid transparent;
    border-left: 10px solid #8cb400;
    border-bottom: 10.5px solid transparent;
}
.title-h1 a:hover {
color: red !important;
}
.count-text-info {
    background-color: #ff5a5a;
    box-sizing: border-box;
}
.count {
    box-shadow: 0px 2px 11px 0px lightgrey;
    margin-top: 20px;
}
.count-text-info {
    text-align: center;
    font-weight: bold;
    padding: 7px 0;
}
.count-sum-sale {
    display: flex;
    justify-content: space-around;
    margin: 6px 0;
}
.before-sum {
    font-size: 26px;
    text-decoration: line-through;
}
.before2-sum {
font-weight: bold;
font-size: 26px;
color: red;
}
.count-head-sum {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin: 12px;
}
.count-sum-btn{
    display: block;
    text-align: center;
    margin: 15px;
    padding-bottom: 10px;
}
.count-sum-btn-style {
    width: 91%;
    height: 52px;
    background: #f2df00;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    margin:10px auto;
    display:block;
}
.count-sum-btn-style:hover {
    cursor: pointer;
}

nav .row {
    padding-left: -10px;
    padding-right: -10px;
}
.menu ul{
    list-style: none;
    padding: 0px;
    margin: 0;
    display: flex;
    box-shadow: 0 6px 6px -7px;
    border-bottom: 2px solid transparent;
}

.menu a {
    
}
.menu a:hover {
    color:black;
}
.menu li {
    padding: 13px 55px;
    box-shadow: 1px 3px 3px #969191;
    background: #f4f4f4;
    color: black;
}
.menu li:hover {
    cursor: pointer;
    background-color: white;
}
hr {
    width: 78%;
    margin-top: 0;
    box-shadow: -1px 1px 4px 0px black;
    border-top: 0px solid gray !important;
}
.productsinfo ul {
    padding-left: 15px;
    color: #6b6b6bf2;
    font-size: 15px;
}

.appleimg {
    width: 50px;
    height: 50px;
}

.mainboxpage1 {
    display: flex;
    flex-direction: column;
}
.productsinfo p {
    font-size: 14px;
    font-weight: 700;
    color: #222;
}
.divrooms .delivery {
    height: 119px;
    box-shadow: 0px 5px 9px 0px lightgrey;
}
.newcount {

}
.new-price-btn {
    width: 200px;
    height: 52px;
    background: #f2df00;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    margin: 27px auto;
    display:block;
}
.new-price-btn:hover {
    cursor: pointer;
}
.delivery p {
    
text-align: left;
    
margin: 8px 27px;
    
color: grey;
}



.h1_page2 {
    padding: 34px 0px;
    font-size: 21px;
    margin-top: 50px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 34px;
}
.h1_page2::after {
color: black;
box-shadow: 1px black;
}

.button_description_page2 {
    width: 183px;
    height: 47px;
    border-radius: 4px;
}
.button_description_page2:hover {
    cursor: pointer;
}
.liner {
    display: inline-block;
    width: 20%;
    border: 1px dashed #cbcbcb;
}

  .cl1, .cl2, .cl3, .cl4, .cl5 {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50px;
    margin: 0 3px; 
  } 


  .cl1 {
    background-color: #ff5a5a;
  }
  .cl2 {
    background-color: #fd01d3;
  }
  .cl3 {
    background-color: #5adeff;
  }
  .cl4 {
    background-color: #8cb400;
  }
  .cl4 {
    background-color:#222;
  }

  .container_page3 li {
      padding-left: 50px;
      margin-bottom: 20px;
      line-height: 1.5em;
  }
  .ex1 {
font-size: 18px;
color: #33c !important;
font-weight: bold;
  }
  .ex2 {
    font-size: 15px;
    color: #070 !important;
  }

  .form-control {
      
  }
  .modal-content {
      background-color: royalblue !important;
  }
  .modal-footer .btn {

width: 100%;
  }

  .firstLink__border {
      border-bottom: 3px solid #f2df00;
  }

  .secondLink__border {
    border-bottom: 3px solid #f2df00;
  }
  .thirdLink__border {
    border-bottom: 3px solid #f2df00;
  }

  .divrooms .container:nth-child(2) .row__align {
      text-align: center;

  }

  .divrooms .container:nth-child(2) .row__align .col-12 iframe {
      width: 100% !important;

  }
  .pointer {
    max-width: 100px;
    height: 55px;
    margin: 10px auto;
    cursor: pointer;
    border: 2px solid #d4dade;
  }
  .row__slider {
      margin-top: 40px;
      text-align: center;
  }
  .row__slider img {
      width: 40px;
      height: 40px;
  }
.phoneimg {
    text-align: center;
    max-width: 100%;
    height: 400px;
}
}


  @media screen and (min-width:768px) and (max-width:1024px) {
      .title-a {
          text-align: center;
      }
      .title-h1 {
        text-align: center;
    }


.phoneimg {
    text-align: center;
}
.description .col-md-12:nth-child(2) {
    text-align: center;
}
.productsinfo ul {
    list-style-type: none;
}
nav .menu li:nth-child(1) {
    margin-left: 7%;
}

.title-h1 span::after {
    top: 84px;
}
.description .col-md-12:nth-child(3) {
    margin-top: 20px;
}

  }


  @media screen and (max-width:767px) {
      .logo {
          text-align: center;
      }

      .title {
          text-align: center;
      }
      .menu ul {
          display: unset;
          text-align: center;
      }
      .menu li {
          display: block !important;
      }
      .phoneimg {
          text-align: center;
      }
      .description .col-md-12:nth-child(2) {
        text-align: center;
    }
    .productsinfo ul {
        list-style-type: none;
    }

    .title-h1 span::after {
        top: 85px ;
    }
    .description .col-md-12:nth-child(3) {
        margin-top: 20px;
    }
  }

  
  @media screen and (min-device-width:320px) and (max-device-width:767px) {
      .container_page3 li {
        padding-left: 0px !important;
    }
  }

  @media screen and (min-device-width:768px) and (max-device-width:991px) {
    .title-h1 span::after {
        top: 84px;
    }
  }