.container {
  width: 1170px;
  color: black;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.row {
    display: flex;
  flex-direction: row;
}
.logoimg {
    width: 250px;
    height: 200px;
   
}
.title-a a {
    font-size: 12px;
    color: #404040;
    padding: 0 5px;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
h1 {
    font-size: 22px;
}
.title {
    width: 625px;
}
.title-h1 span {
    background: #8cb400;
    color: white;
    font-weight: 100;
    font-size: 17px;
}
.title-h1 span::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 1130,5px;
    border-top: 10.5px solid transparent;
    border-left: 10px solid #8cb400;
    border-bottom: 10.5px solid transparent;
}
.count-text-info {
    background-color: #ff5a5a;
    box-sizing: border-box;
}
.count {
    width: 250px;
    height: 200px;
    box-shadow: 0px 2px 11px 0px lightgrey;
}
.count-text-info {
    text-align: center;
    font-weight: bold;
    padding: 7px 0;
}
.count-sum-sale {
    display: flex;
    justify-content: space-around;
    margin: 6px 0;
}
.before-sum {
    font-size: 26px;
    text-decoration: line-through;
}
.before2-sum {
font-weight: bold;
font-size: 26px;
color: red;
}
.count-head-sum {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin: 12px;
}
.count-sum-btn{
    display: block;
    text-align: center;
    margin: 15px;
}
.count-sum-btn-style {
    width: 91%;
    height: 52px;
    background: #f2df00;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    margin:10px auto;
    display:block;
}
.count-sum-btn-style:hover {
    cursor: pointer;
}

nav .row {
    padding-left: -10px;
    padding-right: -10px;
}
.menu ul{
    list-style: none;
    padding: 0px;
    margin: 0;
    display: flex;
    box-shadow: 0 6px 6px -7px;
    border-bottom: 2px solid transparent;
}

.menu a {
    
}
.menu a:hover {
    color:black;
}
.menu li {
    padding: 13px 55px;
    box-shadow: 1px 3px 3px #969191;
    background: #f4f4f4;
    color: black;
}
.menu li:hover {
    cursor: pointer;
    background-color: white;
}
hr {
    width: 1067px;
    margin-top: 0;
    box-shadow: 2px 2px 5px 1px lightgrey;
}
.productsinfo ul {
    padding-left: 15px;
    color: #6b6b6bf2;
    font-size: 15px;
}
.productsinfo {
    margin: 0 103px;
    height: 170px;
    width: 333px;
}
.appleimg {
    width: 50px;
    height: 50px;
}
.logoapple {
    margin: 0 103px;
}
.mainboxpage1 {
    display: flex;
    flex-direction: column;
}
.productsinfo p {
    font-size: 14px;
    font-weight: 700;
    color: #222;
}
.divrooms .delivery {justify-content: flex-end;margin-left: 235px;width: 250px;height: 119px;box-shadow: 0px 5px 9px 0px lightgrey;}
.newcount {

}
.new-price-btn {
    width: 200px;
    height: 52px;
    background: #f2df00;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    margin: 27px auto;
    display:block;
}
.new-price-btn:hover {
    cursor: pointer;
}
.delivery p {
    
text-align: left;
    
margin: 8px 27px;
    
color: grey;
}

@media (max-width: 321px) {
    .title-h1 span::after {
        content: "";
        position: absolute;
        top: 295px;
        left: 1130,5px;
        border-top: 10.5px solid transparent;
        border-left: 9px solid #8cb400;
        border-bottom: 10.5px solid transparent;
    }
    .appleimg {
        text-align: left;
    }
    .logoapple {
margin-top: 47px;
    }
    .phoneimg {
        width: 100%;
        text-align: center;
    }
    nav {
        width: 100%;
        margin: 0 auto;
    }
    .title {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    main {
        width: 100%;
    }

    hr {
        display: block;
        width: 100%;
    }
    .container {
        display: flex;
        width: 100%;
        box-sizing: border-box;
    }
    header .row {
        flex-direction: column;
    }
   .logo {
    width: 200px;
    margin: 10px;
   }

   .title-a {
    width: 100%;
    margin: 0 auto;
    text-align: center;
   }
   .title-h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
   }

.count {
    width: 200px;
    margin: 0 auto;
}
.row {
    flex-direction: column;
    width:100%;
}
.divrooms .delivery {
    margin-left: 0px;
    width: 100%;
    margin-top: 23px;
}
.divrooms .productsinfo {
    width: 100%;
    margin: 0 auto;
}

nav .container .menu ul {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 28px;
}
nav .container .menu li {text-align: center;line-height: 15px;border: 1px solid lightgrey;box-shadow: 1px 3px 3px #969191;margin-top: 3px;}

}

.h1_page2 {
    padding: 34px;
    font-size: 21px;
    margin-top: 50px;
    border-bottom: 1px solid lightgrey;
}
.h1_page2::after {
color: black;
box-shadow: 1px black;
}

.button_description_page2 {
    width: 183px;
    height: 47px;
    border-radius: 4px;
}
.button_description_page2:hover {
    cursor: pointer;
}
.liner {
    display: inline-block;
    width: 20%;
    border: 1px dashed #cbcbcb;
}

  .cl1, .cl2, .cl3, .cl4, .cl5 {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50px;
    margin: 0 3px; 
  } 


  .cl1 {
    background-color: #ff5a5a;
  }
  .cl2 {
    background-color: #fd01d3;
  }
  .cl3 {
    background-color: #5adeff;
  }
  .cl4 {
    background-color: #8cb400;
  }
  .cl4 {
    background-color:#222;
  }

  .container_page3 li {
      padding-left: 50px;
      margin-bottom: 20px;
      line-height: 1.5em;
  }
  .ex1 {
font-size: 18px;
color: #33c;
font-weight: bold;
  }
  .ex2 {
    font-size: 15px;
    color: #070;
  }