.container {
  width: 1170px;
  color: black;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.row {
    display: flex;
  flex-direction: row;
}
.logoimg {
    width: 250px;
    height: 200px;
   
}
.title-a a {
    font-size: 12px;
    color: #404040;
    padding: 0 5px;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
h1 {
    font-size: 22px;
}
.title {
    width: 625px;
}
.title-h1 span {
    background: #8cb400;
    color: white;
    font-weight: 100;
    font-size: 17px;
}
.title-h1 span::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 1130,5px;
    border-top: 10.5px solid transparent;
    border-left: 10px solid #8cb400;
    border-bottom: 10.5px solid transparent;
}
.count-text-info {
    background-color: #ff5a5a;
    box-sizing: border-box;
}
.count {
    width: 250px;
    height: 200px;
    box-shadow: 0px 2px 11px 0px lightgrey;
}
.count-text-info {
    text-align: center;
    font-weight: bold;
    padding: 7px 0;
}
.count-sum-sale {
    display: flex;
    justify-content: space-around;
    margin: 6px 0;
}
.before-sum {
    font-size: 26px;
    text-decoration: line-through;
}
.before2-sum {
font-weight: bold;
font-size: 26px;
color: red;
}
.count-head-sum {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin: 12px;
}
.count-sum-btn{
    display: block;
    text-align: center;
    margin: 15px;
}
.count-sum-btn-style {
    width: 91%;
    height: 52px;
    background: #f2df00;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    margin:10px auto;
    display:block;
}
.count-sum-btn-style:hover {
    cursor: pointer;
}

nav .row {
    padding-left: -10px;
    padding-right: -10px;
}
.menu ul{
    list-style: none;
    padding: 0px;
    margin: 0;
    display: flex;
    box-shadow: 0 6px 6px -7px;
    border-bottom: 2px solid transparent;
}

.menu a {
    
}
.menu a:hover {
    color:black;
}
.menu li {
    padding: 13px 55px;
    box-shadow: 0px 3px 3px #969191;
    background: #f4f4f4;
    color: black;
}
.menu li:hover {
    cursor: pointer;
    background-color: white;
}
hr {
    width: 1067px;
    margin-top: 0;
    box-shadow: 2px 2px 5px 1px lightgrey;
}
.productsinfo ul {
    padding-left: 15px;
    color: #6b6b6bf2;
    font-size: 15px;
}
.productsinfo {
    margin: 0 103px;
    height: 170px;
    width: 333px;
}
.appleimg {
    width: 50px;
    height: 50px;
}
.logoapple {
    margin: 0 103px;
}
.mainboxpage1 {
    display: flex;
    flex-direction: column;
}
.productsinfo p {
    font-size: 14px;
    font-weight: 700;
    color: #222;
}
.divrooms .delivery {justify-content: flex-end;margin-left: 235px;width: 250px;height: 119px;box-shadow: 0px 5px 9px 0px lightgrey;}
.newcount {

}
.new-price-btn {
    width: 200px;
    height: 52px;
    background: #f2df00;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    margin: 27px auto;
    display:block;
}
.new-price-btn:hover {
    cursor: pointer;
}
.delivery p {
    
text-align: left;
    
margin: 8px 27px;
    
color: grey;
}

@media screen and (max-width: 640px) {
    header  .container{
        display: flex;
    }
    header .row {
        flex-direction: column;
    }
   .logo {
    width: 600px;
    margin: 10px;
   }

   .title-a {
    width: 600px;
    margin: 10px;
   }
   .title-h1 {
    width: 600px;
    margin: 10px;
   }

.count {
    width: 600px;
    margin: 10px;
}
.row {
    flex-direction: column;
}
.divrooms .delivery {
    margin-left: 0px;
    width: 600px;
}
.divrooms .productsinfo {
    margin-left: 0px;
    width: 600px; 
}

nav .container .menu ul {
    flex-direction: column;
    width: 600px; 
    margin: 10px;
}
nav .container .menu li {
    margin: 2px;
}

}